useDynLib(SIRmcmc, .registration=TRUE)
export("household_transmission","prior","unifprior","community_attack_rate","secondary_attack_rate","MCMC_date")
importFrom("Rcpp", "evalCpp")
importFrom("graphics", "par", "plot", "plot.default")
importFrom("stats", "dgamma", "dlogis", "loess", "quantile", "rbinom","rnorm", "runif")
importFrom("methods", "is")
